<form action="/display" method="post">
  <p>Student Name: <input type="text" name="name"></p>
    <p>Student Grade: <input type="text" name="grade"></p>
    <input type="submit" value="submit">
</form>
